.e12_263 {
	background-color:rgba(250.00000029802322, 251.00000023841858, 255, 1);
	overflow:hidden;
	width:1152px;
	height:700px;
	position:absolute;
}
.e12_264 {
	color:rgba(11.000000294297934, 31.000000052154064, 51.00000075995922, 1);
	width:626px;
	height:27px;
	position:absolute;
	left:72px;
	top:135px;
	font-family:Manrope;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e12_265 {
	color:rgba(11.000000294297934, 31.000000052154064, 51.00000075995922, 1);
	width:197px;
	height:27px;
	position:absolute;
	left:72px;
	top:463px;
	font-family:Manrope;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e12_266 {
	box-shadow:0px 4px 27px rgba(13.000000175088644, 76.0000030696392, 211.00000262260437, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:308px;
	height:175px;
	position:absolute;
	left:60px;
	top:496px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e12_267 {
	width:125px;
	height:125px;
	position:absolute;
	left:23px;
	top:25px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/rectangle_30.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_268 {
	color:rgba(11.000000294297934, 31.000000052154064, 51.00000075995922, 1);
	width:122px;
	height:48px;
	position:absolute;
	left:163px;
	top:63.5px;
	font-family:Manrope;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e12_269 {
	box-shadow:0px 4px 27px rgba(13.000000175088644, 76.0000030696392, 211.00000262260437, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:308px;
	height:175px;
	position:absolute;
	left:422px;
	top:496px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e12_270 {
	width:125px;
	height:125px;
	position:absolute;
	left:23px;
	top:25px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/rectangle_30.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_271 {
	color:rgba(11.000000294297934, 31.000000052154064, 51.00000075995922, 1);
	width:122px;
	height:48px;
	position:absolute;
	left:163px;
	top:63.5px;
	font-family:Manrope;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e12_272 {
	box-shadow:0px 4px 27px rgba(13.000000175088644, 76.0000030696392, 211.00000262260437, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:308px;
	height:175px;
	position:absolute;
	left:784px;
	top:496px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e12_273 {
	width:125px;
	height:125px;
	position:absolute;
	left:23px;
	top:25px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/rectangle_30.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_274 {
	color:rgba(11.000000294297934, 31.000000052154064, 51.00000075995922, 1);
	width:122px;
	height:48px;
	position:absolute;
	left:163px;
	top:63.5px;
	font-family:Manrope;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e12_275 {
	box-shadow:0px 4px 27px rgba(13.000000175088644, 76.0000030696392, 211.00000262260437, 0.10000000149011612);
	background-color:rgba(255, 255, 255, 1);
	width:1152px;
	height:94px;
	position:absolute;
	left:-3px;
	top:2px;
}
.e12_276 {
	width:350px;
	height:16px;
	position:absolute;
	left:398px;
	top:41px;
}
.e12_277 {
	color:rgba(11.000000294297934, 31.000000052154064, 51.00000075995922, 1);
	width:46px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Manrope;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e12_278 {
	color:rgba(11.000000294297934, 31.000000052154064, 51.00000075995922, 1);
	width:54px;
	height:16px;
	position:absolute;
	left:146px;
	top:0px;
	font-family:Manrope;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e12_279 {
	color:rgba(11.000000294297934, 31.000000052154064, 51.00000075995922, 1);
	width:50px;
	height:16px;
	position:absolute;
	left:300px;
	top:0px;
	font-family:Manrope;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e12_280 {
	width:137px;
	height:21.40625px;
	position:absolute;
	left:57px;
	top:37px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_281 {
	background-color:rgba(212.78159022331238, 214.21545088291168, 248.62500607967377, 1);
	width:59px;
	height:40px;
	position:absolute;
	left:914px;
	top:28px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e12_282 {
	color:rgba(13.000000175088644, 76.0000030696392, 211.00000262260437, 1);
	width:35px;
	height:16px;
	position:absolute;
	left:12px;
	top:12px;
	font-family:Manrope;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e12_294 {
	background-color:rgba(212.78159022331238, 214.21545088291168, 248.62500607967377, 1);
	width:232px;
	height:40px;
	position:absolute;
	left:445px;
	top:416px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e12_295 {
	color:rgba(13.000000175088644, 76.0000030696392, 211.00000262260437, 1);
	width:208px;
	height:16px;
	position:absolute;
	left:12px;
	top:12px;
	font-family:Manrope;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e12_298 {
	background-color:rgba(212.78159022331238, 214.21545088291168, 248.62500607967377, 1);
	width:86px;
	height:40px;
	position:absolute;
	left:345px;
	top:416px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e12_299 {
	color:rgba(13.000000175088644, 76.0000030696392, 211.00000262260437, 1);
	width:62px;
	height:16px;
	position:absolute;
	left:12px;
	top:12px;
	font-family:Manrope;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e12_287 {
	background-color:rgba(212.78159022331238, 214.21545088291168, 248.62500607967377, 1);
	width:98px;
	height:40px;
	position:absolute;
	left:991px;
	top:28px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e12_288 {
	color:rgba(13.000000175088644, 76.0000030696392, 211.00000262260437, 1);
	width:74px;
	height:16px;
	position:absolute;
	left:12px;
	top:12px;
	font-family:Manrope;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e12_289 {
	box-shadow:0px 4px 27px rgba(13.000000175088644, 76.0000030696392, 211.00000262260437, 0.10000000149011612);
	width:250px;
	height:250px;
	position:absolute;
	left:65px;
	top:171px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/rectangle_31.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_293 {
	width:602px;
	height:86px;
	position:absolute;
	left:345px;
	top:176px;
}
.e12_290 {
	color:rgba(11.000000294297934, 31.000000052154064, 51.00000075995922, 1);
	width:602px;
	height:65px;
	position:absolute;
	left:0px;
	top:21px;
	font-family:Manrope;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e12_284 {
	color:rgba(13.000000175088644, 76.0000030696392, 211.00000262260437, 1);
	width:110px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Manrope;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e12_292 {
	width:602px;
	height:120px;
	position:absolute;
	left:345px;
	top:279px;
}
.e12_291 {
	color:rgba(11.000000294297934, 31.000000052154064, 51.00000075995922, 1);
	width:602px;
	height:99px;
	position:absolute;
	left:0px;
	top:21px;
	font-family:Manrope;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e12_286 {
	color:rgba(13.000000175088644, 76.0000030696392, 211.00000262260437, 1);
	width:113px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Manrope;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
