.1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1152px;
	height:700px;
	position:relative;
}
.e4_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:88px;
	height:49px;
	position:relative;
	left:60px;
	top:26px;
}
.e4_30 { 
	width:751px;
	height:49px;
	position:relative;
	left:60px;
	top:115px;
}
.e4_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:681px;
	height:49px;
	position:relative;
	left:0px;
	top:0px;
}
.e4_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:50px;
	height:49px;
	position:relative;
	left:701px;
	top:0px;
}
.e4_44 { 
	width:356px;
	height:15px;
	position:relative;
	left:398px;
	top:43px;
}
.e4_10 { 
	color:rgba(0, 0, 0, 1);
	width:48px;
	height:15px;
	position:relative;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e4_11 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:15px;
	position:relative;
	left:148px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e4_12 { 
	color:rgba(0, 0, 0, 1);
	width:52px;
	height:15px;
	position:relative;
	left:304px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e4_114 { 
	width:1032px;
	height:199px;
	position:static;
	display:block;
}
.e4_111 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:228px;
	height:199px;
	position:relative;
	display:block;
}
.e4_112 { 
	background-color:rgba(177.43749797344208, 177.43749797344208, 177.43749797344208, 1);
	width:120px;
	height:120px;
	position:relative;
	display:inline;
}
.e4_113 { 
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:30px;
	position:relative;
	display:inline;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e4_101 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:228px;
	height:199px;
	position:relative;
	left:268px;
	top:0px;
}
.e4_38 { 
	background-color:rgba(177.43749797344208, 177.43749797344208, 177.43749797344208, 1);
	width:120px;
	height:120px;
	position:relative;
	left:54px;
	top:17px;
}
.e4_45 { 
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:30px;
	position:relative;
	left:16px;
	top:152px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e4_103 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:228px;
	height:199px;
	position:relative;
	left:536px;
	top:0px;
}
.e4_47 { 
	background-color:rgba(177.43749797344208, 177.43749797344208, 177.43749797344208, 1);
	width:120px;
	height:120px;
	position:relative;
	left:54px;
	top:17px;
}
.e4_48 { 
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:30px;
	position:relative;
	left:16px;
	top:152px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e4_104 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:228px;
	height:199px;
	position:relative;
	left:804px;
	top:0px;
}
.e4_50 { 
	background-color:rgba(177.43749797344208, 177.43749797344208, 177.43749797344208, 1);
	width:120px;
	height:120px;
	position:relative;
	left:54px;
	top:17px;
}
.e4_51 { 
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:30px;
	position:relative;
	left:16px;
	top:152px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e4_115 { 
	width:1032px;
	height:199px;
	position:relative;
	left:61px;
	top:459px;
}
.e4_116 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:228px;
	height:199px;
	position:relative;
	left:0px;
	top:0px;
}
.e4_117 { 
	background-color:rgba(177.43749797344208, 177.43749797344208, 177.43749797344208, 1);
	width:120px;
	height:120px;
	position:relative;
	left:54px;
	top:17px;
}
.e4_118 { 
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:30px;
	position:relative;
	left:16px;
	top:152px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e4_119 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:228px;
	height:199px;
	position:relative;
	left:268px;
	top:0px;
}
.e4_120 { 
	background-color:rgba(177.43749797344208, 177.43749797344208, 177.43749797344208, 1);
	width:120px;
	height:120px;
	position:relative;
	left:54px;
	top:17px;
}
.e4_121 { 
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:30px;
	position:relative;
	left:16px;
	top:152px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e4_122 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:228px;
	height:199px;
	position:relative;
	left:536px;
	top:0px;
}
.e4_123 { 
	background-color:rgba(177.43749797344208, 177.43749797344208, 177.43749797344208, 1);
	width:120px;
	height:120px;
	position:relative;
	left:54px;
	top:17px;
}
.e4_124 { 
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:30px;
	position:relative;
	left:16px;
	top:152px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e4_125 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:228px;
	height:199px;
	position:relative;
	left:804px;
	top:0px;
}
.e4_126 { 
	background-color:rgba(177.43749797344208, 177.43749797344208, 177.43749797344208, 1);
	width:120px;
	height:120px;
	position:relative;
	left:54px;
	top:17px;
}
.e4_127 { 
	color:rgba(0, 0, 0, 1);
	width:196px;
	height:30px;
	position:relative;
	left:16px;
	top:152px;
	font-family:Inter;
	text-align:center;
	font-size:12px;
	letter-spacing:0;
}
.e4_62 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:15px;
	position:relative;
	left:979px;
	top:43px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
