{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Главная</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/awards/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/awards/css/bootstrap.min.css' %}">
</head>
<body>
<div>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="/">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Контакты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/">Награды</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">>+7(834) 330-22-44<</a>
        </li>
    </ul>
    <form action="awards/search" method="GET">
        <input type="text" name="q" placeholder="Поиск..." required>
        <button type="submit">Найти</button>
    </form>
    <div class="row">
        {% for award in award_list %}
        <div class="col-md-3">
            <div class="card"><a href="/awards/{{ award.pk }}">
                <div class="card-body">
                    <h5 class="card-title">{{ award }}</h5>
                </div>
            </a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
<script src="{% static '/awards/js/jquery.min.js' %}"></script>
<script src="{% static '/awards/js/bootstrap.min.js' %}"></script>
</body>
</html>